torch>=2.0.1
numpy
pandas
scipy
soundfile
ml_collections
tqdm
segmentation_models_pytorch==0.3.3
timm==0.9.2
audiomentations==0.24.0
#audiomentations
pedalboard
omegaconf==2.2.3
beartype==0.14.1
#beartype
rotary_embedding_torch==0.3.5
#rotary_embedding_torch
einops==0.6.1
librosa
demucs==4.0.0
#demucs
transformers~=4.35.0
torchmetrics==0.11.4
spafe==0.3.2
#spafe
protobuf==3.20.3
#protobuf
torch_audiomentations
asteroid==0.7.0
#asteroid
auraloss
torchseg
bitsandbytes
wandb
accelerate
huggingface-hub>=0.23.0
#huggingface-hub
prodigyopt
torch_log_wmse
wxpython==4.2.2
#wxpython
musdb
museval